.logo {
	color: white;
background-color : red;
display:inline;
width: 120px;
height: 30px;
}

.top-right {
	display: inline;
	float: right;
}

.top-right ul{
	display: inline-block;
	padding: 0;
    list-style: none;
/*    border: 1px solid #E5E5E5;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 2px;
	
	
}
.top-right li {
	display: inline-block;
	border: 1px solid black;

}

.main-bar {
	margin: 0;
    padding: 2px;
    list-style: none;
    border: 1px solid #E5E5E5;
    cursor:pointer;
}

.main-bar li{
	display: inline-block;
	color:white;
	background-color: lightblue;
}

.main-bar a{
	display:block;
	text-decoration: none;
	background: lightblue;
	color:white;
}


.sub-menu {
	list-style: none;
	padding: 0px;
	margin: 0px;
	
}

.sub-menu li{
	display: inline-block;
}
.sub-menu a{
	display:block;
	text-decoration: none;
	background: lightblue;
	color:white;
}

.select-row { background-color: red; }

.active-menu li{

	display: inline-block;
	color:white;
	background-color: red;	
}
