#control{
    position: absolute;
    
    float: left;
    height: 600;
    width: 60;
    display: inline-block;
    top: 100;
    left:10;
}

#div_console_log{
    display: inline-block;
   
    position: absolute;
    
   top: 100;
    left:90;
}
